- Always read and follow the rules inside `.cursor/rules/react-component.mdc` for component creation
- Always read and follow the rules inside `.cursor/rules/implementation.mdc` before doing step-by-step implementation on any task!